.chart-window{
    background-color: rgba(255,255,255,0.75);
}

.chart-window--head{
    position: relative;
    padding: $padding / 2;
    @include clearfix;
    background-color: white;
}

.chart-window--heading{
    display: block;
    float: left;
}

.chart-window--head-controlls{
    display: block;
    position: absolute;
    top: 0px;
    right: $padding / 4;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.chart-window--btn{
    height: 100%;
    margin-left: 4px;
    &:disabled{
        opacity: 0.2;
        cursor: not-allowed;
    }
}

.recharts-wrapper{
    width: 100% !important;
    svg{
        width: 100% !important;
    }
}

