@font-face {
    font-family: Lobster;
    src: url('../fonts/Lobster.ttf');
}

.main-heading{
    font-size: 3.5rem;
    color: white;
    font-family: Lobster;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}
