@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body{
    background-image: radial-gradient(circle at center, $steelLight, $steel);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-top: $navbarHeight;
}

.container{
    max-width: $siteWidth;
    padding: $padding;
    box-sizing: border-box;
    margin: 0px auto;
}

.row{
    padding-left: $padding / 2;
    padding-right: $padding / 2;
}

.col{
    padding: $padding / 2;
    box-sizing: border-box;
    float: left;
}

.margin-top{
    margin-top: 35px;
}

.padding-bottom{
    padding-bottom: 35px;
}

.btn{
    border: 0;
    background-color: $black;
    color: $white;
    cursor: pointer;
    &:hover{
        background-color: #5a5e69;
    }
    &:focus{
        outline: none;
    }
}

.btn-red{
    background-color: #ec5959;
    &:hover{
        background-color: #ff8383;
    }
}

.btn-green{
    background-color: #2b9647;
    &:hover{
        background-color: #59b972;
    }
}

.btn-gray{
    background-color: rgb(85, 85, 85);
    &:hover{
        background-color:gray;
    }
}

.clearfix{
    @include clearfix();
}



@media (max-width: 600px) {
    .w-sm-50{
        width: 50%;
    }
    .w-sm-100{
        width: 100%;
    }
}

@media (min-width: 601px) {
    .w-lg-50{
        width: 50%;
    }
    .w-lg-100{
        width: 100%;
    }
}

.architecture-image{
    max-width: 100%;
    width: 100%;
}
